body {
  font-family: Arial, sans-serif;
  background-color: #f6f7f8;
  color: #1c1c1c;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.article-card {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.article-card:hover {
  transform: scale(1.02);
}

element.style {
  height: var(--size-button-sm-h);
  font: var(--font-button-sm);
}

.user-profile {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.button {
  box-shadow: var(--button-shadow);
  box-sizing: border-box;
  color: var(--button-color-text);
  cursor: pointer;
  display: inline-block;

  height: var(--button-height);
  line-height: calc(var(--button-height) - var(--button-border-width, 0px) * 2);
  outline-offset: 0px;
  text-align: center;
  text-overflow: ellipsis;
  --button-border-color: var(--button-border-color-default);
  --button-border-width: var(--button-border-width-default);
  --button-color-background: var(--button-color-background-default);
  --button-color-text: var(--button-color-text-default);
  background: var(--button-color-background);
  border: var(--button-border-width, 0) solid
    var(--button-border-color, transparent);
  border-radius: 999px;
  overflow: hidden;
  padding: 0 calc(var(--button-padding) - var(--button-border-width, 0px));
  text-decoration: none;
  white-space: nowrap;
}
